<div class="container text-center pt-3">
    <h1 class="text-white">Registrati</h1>
</div>
<div class="container w-25" style="height: 414px;">
    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
        <div class="form-group">
            <label for="name" class="form-label text-white">Nome completo</label>
            <input type="text" id="name" name="name" required class="form-control" ngModel />
            <label for="email" class="form-label text-white">Email</label>
            <input type="email" id="email" name="email" required class="form-control" ngModel />
            <label for="password" class="form-label text-white">Password</label>
            <input type="password" id="password" name="password" required class="form-control" ngModel />
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" [disabled]="signupForm.invalid" class="btn btn-danger mt-4">Registrati</button>
        </div>
        
    </form>
</div>
