<footer class="container-fluid p-0">
    <div class="d-flex justify-content-around bg-body-secondary pt-4 border-1 border-bottom border-dark">
        <div class="d-flex flex-column">
            <h4 class="text-danger">Muzzu Cars</h4>
            <p>Come funziona</p>
            <p>Chi siamo</p>
            <p>Carriera</p>

        </div>
        <div class="d-flex flex-column">
            <h4 class="text-danger">Compra</h4>
            <p>Trova la tua auto</p>
            <p>Marche auto</p>
            <p>Finanziamento auto</p>
        </div>
        <div class="d-flex flex-column">
            <h4 class="text-danger">Aiuto e Supporto</h4>
            <p>Domande frequenti</p>
            <p>Contatti</p>
            <p>Recensioni ed esperienze</p>
        </div>

        <div class="d-flex flex-column ">
            <img src="../../../assets/img/auto.png" alt="logoAuto">
            

        </div>



    </div>
    <div class="bg-danger d-flex justify-content-between text-white px-4 py-2 pt-2 align-items-center">
        <div>
            <p class="mb-0">&copy;2024 Muzzu Cars S.R.L.</p>
        </div>
        <div class="d-flex align-items-center">
            <p class="text-center mb-0 me-3 pb-1">Seguici su</p>
            <div class="d-flex justify-content-between gap-3">
                <i class="bi bi-instagram "></i>
                <i class="bi bi-facebook "></i>
                <i class="bi bi-youtube "></i>

            </div>
        </div>
        <div class="d-flex gap-4">
            <p class="mb-0">Informazioni Legali</p>
            <p class="mb-0">Termini e condizioni</p>
            <p class="mb-0">Normativa sulla privacy</p>
        </div>

    </div>


</footer>