html, body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.65;
    color: #393d41;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #25a2c3;
}

header{
    line-height: 1.5;
}


footer {
    color: white;
}

.logo{
    
    background-color: black;
    padding: 40px;
}

.logo img{
    width: 240px;
}

.sotto-logo{
    
    padding: 40px;
    background-image: url(/UNIT1/EsercizioS1L5/ASSETS/IMG/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}



header button{
    background-color: #e72a09;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 3px;
    border: none;
    font-family: Montserrat;
    cursor: pointer;
}

/*MAIN*/


.img-notebook{
    border-radius: 50%;
}

.epicode-garantisce{
    background-color: #E72A09;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 80px;
    margin-left: 0px;
    margin-right: 0px;
    
}

.epicode-garantisce h2{
    color: white;
    font-weight: bold;
   

}

/*SCHEDA*/


    
.scheda{
    border: 1px solid #dee1e3;
    width: 80%;
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 40px;
    


}

.scheda img{
    max-width: 100%;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

/*FOOTER*/

.contattaci{
    padding: 20px;
    padding-bottom: 60px;
    
    background-color: #25a2c3;
}
    
    

.contattaci a, .contattaci p, .contattaci h2{
    color: white;
}
.contatti{
    margin-bottom: 30px;
    margin: 0 auto;
}

.contatti a, .contatti p{
    
    display: block;
}


.contatti p{
    margin: 0px;
    padding:0px;
    padding-bottom: 40px;
}

.contattaci > p{
    margin: 0 auto;
    width: 70%;
    border-top: 1px solid white;
    padding: 40px;
}
   