<div class="container">
    <div class="d-flex flex-column">
        <h3 class="text-center">Auto in evidenza</h3>
        <div class="row" *ngIf="isLoaded">
            <div *ngFor="let car of related" class="card col-6 align-items-center">
                <img class="card-img-top w-50" [src]="'https://www.kimballstock.com/pix/car/p/' + car.modelImage" alt="Immagine Auto">
                <div class="card-body">
                    <p class="card-text">
                        {{car.brand + " " +  car.model}}
                    </p>
                    <p>
                      Anno di uscita  {{car.year}}
                    </p>
                    <p>
                        Prezzo {{car.price + "€"}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container" *ngIf="isLoaded">

    <div *ngFor="let car of related">
        
      <img [src]="'https://www.kimballstock.com/pix/car/p/' + car.modelImage" alt="">
    </div>
  </div> -->