<div class="container">
    <div class="row">
        <div class="col-11 m-5">
            <div class="row g-5">
                <div class="col-8">
                    <div class="d-flex flex-column">
                        <app-evidenza></app-evidenza>
                        <app-correlati></app-correlati>
                    </div>
                </div>
                <div class="col-4 bg-secondary-subtle rounded-1 py-4">
                    <app-interesse></app-interesse>
                </div>
            </div>
        </div>
    </div>
</div>